
= label :book, :title, 'Title'
= text_field :book, 'title'

= label :book, :genre, 'Genre'
= select :book, :genre, ['','Science fiction','Drama','Action and Adventure','Romance','Mystery','Horror']

= label :book, :author, 'Author'
= text_field :book, 'author'

= label :book, :description, 'Description'
= text_field :book, :description

= label :book, :isbn_number, 'ISBN Number'
= text_field :book, :isbn_number

= label :book, :publish_date, 'Published On'
= date_select :book, :publish_date
