%h2 Edit Book

= form_tag book_path(@book), :method => :put do
  - unless @book.errors.empty?
    #warning
      Errors prevented this book from being #{controller.action_name}d:
      %ul
        - @book.errors.full_messages.each do |error|
          %li= error
  = render :partial => 'book_form'
  = submit_tag 'Update Book Info'