%h1 Similar books to #{@given_book.title}

%table#similar_books
  %thead
    %tr
      %th Book Title
      %th Genre
      %th ISBN Number
      %th Publish Date
      %th Author
      %th More Info
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.genre
        %td= book.isbn_number
        %td= book.publish_date
        %td= book.author
        %td= link_to "More about #{book.title}", book_path(book)
